@font-face {
  font-family: 'SF Distant Galaxy';
  src: local('SF Distant Galaxy'), url(fonts/SF\ Distant\ Galaxy.ttf), format('ttf');
}

body {
  background-color: black;
  margin: 0;
  font-family: 'SF Distant Galaxy';
}

#heading {
  position: fixed;
  width: 100%;
  padding: 32px;
}

.border {
  background: linear-gradient(90deg, gray, 90%, black);
  height: 2px;
  width: 80vw;
  margin-top: 4px;
}

h1 {
  color: rgb(215, 215, 215);
  font-size: 4em;
  margin: 0px;
  font-weight: 100;
}

#progress-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress {
  font-size: 3em;
  color: white;
}

#radar-button {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  padding: 10px 20px;
  font-family: 'SF Distant Galaxy';
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
}

#radar-button:hover {
  background-color: #555;
}